<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <div th:insert="admin/AdminCommonHeadTemplate::head(CreateCafe)"></div>
    <script src="js/AdminsTemplates.js"></script>
    <script src="js/pages/Cafe.js"></script>
</head>

<body class="bg-dark">
<br>
<div th:insert="admin/templates/AdminsTemplates::NavBarHorizontal"></div>
<div class="bg-white container" id="container">
    <div class="row">
        <div th:insert="admin/templates/AdminsTemplates::NavBarVertical"></div>
        <div class="col ">
            <div class="row">
                <div class="col">
                    <div class="custom-control custom-switch d-flex justify-content-end">
                        <input class="custom-control-input" id="enabledCafe" type="checkbox">
                        <label class="custom-control-label" for="enabledCafe">Активен</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="cafeDescription">Описание: </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea class="form-control" id="cafeDescription" name="cafeDescription" rows="10"
                              placeholder="Текст" required></textarea>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-2">
                    <label for="mainImage" class="form-label">Главная картинка: </label>
                </div>

                <div class="col">
                    <img class="img-thumbnail" src="images/emptyImg.png"
                         id="mainImage"
                         alt="default or upload img" width="80" height="80">
                </div>
            </div>

            <div class="row mt-3 ml-1">
                <div class="col-11">
                    <input type="file" class="custom-file-input" name="uploadMainImage" id="uploadMainImage"
                           accept="image/*" required>
                    <label class="custom-file-label" for="uploadMainImage">Выберите изображение</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <label>Галерея картинок: </label>
                </div>
            </div>

            <div class="row mt-1 mb-3 d-flex justify-content-start">
                <div class="col-2 custom-file" style="height: 80px" id="imagesGallery">
                    <label for="uploadImageToGallery" id="labelForAddImageGallery">
                        <img class="img-thumbnail mx-2" src="images/add.png" width="80">
                    </label>
                    <input type="file" id="uploadImageToGallery" name="uploadImageToGallery"
                           accept="image/*" hidden required>
                    <div class="invalid-tooltip">
                        Добавьте изображение в галерею
                    </div>
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col d-flex justify-content-between">
                    <button type="button" class="btn btn-success" id="saveCafe">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>