<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="kinocms/UserTemplates::head(MainPage)"></div>
    <script src="kinocms/js/cinemasPage/CinemasPage.js"></script>
</head>

<body class="bg-dark" id="userBody">
<br>

<div th:insert="kinocms/UserTemplates::userHeader"></div>
<div class="bg-white container">

    <div class="row">
        <div class="col d-flex justify-content-center" style="height: 300px">
            <img class="img-fluid" width="2000" id="cinemasTopBanner"
                 alt="Responsive image">
        </div>
    </div>

    <div class="row border-bottom border-dark">
        <div class="col d-flex justify-content-center">
            <h1 id="cinemasName"></h1>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-auto">
            <div class="row">
                <div class="col">
                    <p id="placeCountHalls">Количество залов: </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th>ЗАЛЫ</th>
                        </tr>
                        </thead>
                        <tbody id="placeCinemasHalls"></tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th>Смотрите сегодня</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Сеанс1</td>
                        </tr>
                        <tr>
                            <td>Сеанс2</td>
                        </tr>
                        <tr>
                            <td>Сеанс3</td>
                        </tr>
                        <tr>
                            <td>Сеанс4</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success" name="schedule">Рассписание сеансов</button>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-auto">
                    <img class="img-fluid" width="200" id="cinemasLogo"
                         alt="Responsive image">
                </div>

                <div class="col-auto">
                    <button type="button" class="btn btn-success" name="schedule">Рассписание сеансов</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-auto d-flex justify-content-start">
                            <p class="font-weight-bolder" id="cinemasDescription"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <h3> УСЛОВИЯ</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <div class="col-11 border border-dark">
                                        <p class="font-weight-bolder" id="cinemasConditions"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h3> Фотогалерея</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <div class="row my-3">
                                <div class="col d-flex justify-content-center">
                                    <div id="cinemasGalleryCarousel" style="width: 500px;height: 200px"
                                         class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators" id="cinemasGalleryCarouselIndicators"></ol>

                                        <div class="carousel-inner" role="listbox"
                                             id="cinemasGalleryCarouselItem"></div>

                                        <a class="carousel-control-prev" href="#cinemasGalleryCarousel" role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#cinemasGalleryCarousel" role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="kinocms/UserTemplates::footer"></div>
</div>
</body>
</html>